html {
  height: 300%;
}
body {
  background-image: linear-gradient(
      19deg,
      rgba(241, 192, 245, 0.623),
      rgba(122, 153, 232, 0.73)
    ),
    url("../images/lion.png");

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  font-size: 1.125rem;
  z-index: 100;
}

html {
  height: 300%;
}
body {
  background-image: linear-gradient(
      19deg,
      rgba(241, 192, 245, 0.623),
      rgba(122, 153, 232, 0.73)
    ),
    url("../images/lion.png");

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  font-size: 1.125rem;
  z-index: 100;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  min-height: 300px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.447);
  padding-left: 20px;
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

section {
  text-align: center;
  margin-top: -50px;
}

h1 {
  font-size: 3.25rem;
  font-family: "Quattrocento", serif;
  margin-bottom: 1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.324);
}

h2 {
  font-size: 2.5rem;
  font-family: "Quattrocento", serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h5 {
  font-size: 1rem;
  margin-bottom: 20px;
}

h6 {
  font-size: 0.5rem;
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
}

.navbutton {
  border: 1px solid white;
  padding: 11px 25px;
  font-family: "Quattrocento", serif;
  display: inline-block;
  position: relative;
  margin-left: 100px;
  padding-bottom: 10px;
}

.projects {
  text-align: center;
  padding-top: 10px;
}
.navparent {
  text-align: center;
  padding-top: 10px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.tbox {
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
}

.national {
  text-align: left;
  padding-bottom: 50px;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
.card1 {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 25%;
  border-radius: 5px;

  margin-top: 50px;
}

.card2 {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 25%;
  border-radius: 5px;

  margin-top: 50px;
}

.card3 {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 25%;
  border-radius: 5px;

  margin-top: 50px;
}

.card4 {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 25%;
  border-radius: 5px;

  margin-top: 50px;
}

.card5 {
  background-size: cover;
  background-position: bottom;
  height: 250px;
  width: 30%;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 550px;
}

.card {
  padding: 50px;
}

.card1,
.card2,
.card3,
.card4 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  text-align: center;
  margin-top: -10px;
  margin-left: -127px;
}

.navbutton:hover .dropdown {
  display: block;
}

.dropdown .navbutton {
  width: 70px;
  background-color: snow;
}

.dropdown .navbutton a {
  color: rgba(122, 153, 232, 0.73);
}

.hamburger-menu {
  width: 1em;
  height: 1em;
  padding: 0.2em;
  background-color: blue;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.2s ease-out;
  margin-bottom: 50px;
}

.hamburger-div {
  background-color: white;
  width: 1em;
  height: 0.2em;
  margin-bottom: 0.2em;
}

.hamburger-menu:hover {
  .one {
    transform: translateY (0.4em) rotate(45deg);
  }
  .two {
    opacity: 0;
  }
  .three {
    transform: translateY (-0.4em) rotate(-45deg);
  }
}
